version: '3.9'

services:
  mother:
    build: ./mother_api
    container_name: mother_service
    ports:
      - "8000:8000" # Ouvert sur l'extérieur (localhost:8000)
    networks:
      - app_network
    command: uvicorn mother_api:app --host 0.0.0.0 --port 8000

  child:
    build: ./child_api
    container_name: child_service
    # PAS de ports ici ! On veut qu'il soit invisible de l'extérieur.
    networks:
      - app_network
    command: uvicorn child_api:app --host 0.0.0.0 --port 8001

networks:
  app_network:
    driver: bridge